.summary {
  margin: 40px 30px;
  th {
    text-align: center;
  }

  @media (min-width: 600px) {
    margin: 40px 10px;

    th {
      text-align: left;
    }
  }
}

.continue {
  margin: 40px 10px;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}
