/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  text-align: left;
  max-width: 76%;
  margin: auto;

  @media (min-width: 600px) {
    max-width: 40%;
    margin: 10px;
  }
}
mat-toolbar-row {
  justify-content: space-between;
}
